.featured__item {
    position: relative;
}

.featured__item a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

.featured__image{
    height: 90vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

@media all and (max-width: 860px){
    .featured__image{
        height: 360px;
    }
}

.featured__caption{
    color: #fff;
    width: 100%;
    top: 0;
    padding: 20px;
    font-weight: 300;
    font-size: 28px;
    box-sizing: border-box;
    text-shadow: 3px 3px 5px black;
}