.videoList__wrapper h3{
    text-align: center;
    margin: 20px;
    color: #353535;
    font-weight: 300;
    font-size: 21px;
}

.videoListItem__wrapper{
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: white;
}

.videoListItem__wrapper h2 {
    font-size: 13px;
    color: #525252;
}

.videoListItem__wrapper .left {
    background-size: cover !important;
}

.videoListItem__wrapper .left div{
    width: 90px;
    height: 90px;
    background: url("/images/play.png") no-repeat center center ;
    background-size: 41px;
}

.videoListItem__wrapper .right {
    flex-grow: 1;
    padding: 10px;
}

.relatedWrapper {
    margin: 0 5px;
}