.list {
    margin-top: 30px;
}

.slick-dots {
    background: #242424;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.newsList__item {
    border: 1px solid #f2f2f2;
    background: white;
    margin-top: 0;
    padding: 8px 5px 0 5px;
}

.newsList__item h2 {
    font-size: 13px;
    line-height: 21px;
    margin: 5px 0;
    color: #525252;
}

.newsList__item a {
    text-decoration: none;
}

.newsList__wrapper{
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms ease-in;
}

.newsList__wrapper-enter-active,
.newsList__wrapper-enter-done{
    opacity: 1;
    transform: translateX(0%);
}

.flex-wrapper {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: white;
}

.flex-wrapper .left {
    background-size: cover !important;
    background-position: center top !important;
}

.flex-wrapper .left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat;
    background-position: center center !important;
}

.flex-wrapper .right {
    flex-grow: 1;
    padding: 10px;
}

.flex-wrapper h2 {
    font-size: 12px;
    color: #525252;
}